@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../Fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../Fonts/Lausanne-500.woff2);
}

html,body,#root {
  
  overflow-x: hidden;
  max-width: 100vw;
}
.moveX{
  animation-name: moveAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}