@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/Fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(../public/Fonts/Lausanne-500.woff2);
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}